.svelte-kit
build
docker
node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.github
.svelte-kit
.wrangler
README.md
src/lib/paraglide
LICENSE
.vscode
Makefile
helm-charts
.editorconfig
.idea
coverage*