node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env (follows Bun https://bun.sh/docs/runtime/env)
.env
.env.local
.env.development
.env.production
.env.test
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.wrangler