node_modules
/.idea

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.wrangler

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
