@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	html {
		@apply h-full bg-black text-white;
	}

	body {
		@apply h-auto min-h-svh bg-shark-950/50 text-white;
	}

	/* Headings are defined by class instead of tag to preserve semantic html independent of style */
	/* Typography */
	.h1 {
		@apply text-5xl font-semibold leading-none;
	}

	.h2 {
		@apply text-3xl font-semibold leading-none;
	}

	.h3 {
		@apply text-2xl font-semibold leading-none;
	}

	.h4 {
		@apply text-lg font-medium leading-none;
	}

	.h5 {
		@apply text-base font-medium leading-none;
	}

	.caption {
		@apply text-muted text-base font-medium;
	}

	p,
	li {
		@apply text-muted max-w-prose text-base font-normal;
	}

	/* Layout */

	.card {
		@apply grid gap-4 rounded-xl bg-shark-900/20 p-5;
	}

	.layout-stack {
		@apply flex flex-col gap-4;
	}

	.layout-center {
		@apply mx-auto box-content max-w-prose;
	}

	.layout-switcher {
		@apply flex flex-wrap gap-4;
	}

	.layout-switcher > * {
		flex-grow: 1;
		flex-basis: calc((var(--switcher-threshold) - 100%) * 999);
	}

	.layout-grid {
		@apply grid gap-4;
		grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-itemWidth), 100%), 1fr));
	}

	.layout-cluster {
		@apply flex flex-wrap gap-4;
	}

	/* table styles */
	:where(.table-styles) {
		@apply w-full table-auto overflow-x-auto;

		thead tr {
			@apply bg-none;
		}

		tr,
		.table-row-styles {
			@apply table-row-border table-row-background;
		}

		th,
		.table-head-styles {
			@apply text-muted py-1.5 pl-2 pr-2 text-left text-base font-medium first:pl-0 last:pr-0;
		}

		td,
		.table-cell-styles {
			@apply py-3 pl-2 pr-2 text-base first:pl-0 last:pr-0;
		}
	}
}

@layer utilities {
	.px-page {
		@apply px-4;
	}

	.mx-page {
		@apply px-4;
	}

	.table-row-border {
		@apply border-b border-mineShaft-900 last:border-none;
	}

	.table-row-background {
		@apply bg-gradient-to-r from-transparent to-transparent odd:via-mineShaft-950 hover:via-skyBlue-500/10 data-[clickable=true]:cursor-pointer data-[active=true]:via-skyBlue-500/10 data-[hover-effect=false]:hover:via-transparent data-[hover-effect=false]:odd:hover:via-mineShaft-950;
	}

	.bg-hero-gradient {
		background-image: radial-gradient(var(--bg-menu) 0%, transparent 50%);
	}

	.text-muted {
		@apply text-zinc-400;
	}
}
